.nav__link svg {
    transition: all .3s;
    padding: .2rem;
    border-radius: 50%;
}

.nav {
    padding: 1.5rem;
    background-color: white;
}

.nav__logo {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(63, 64, 70);
    font-weight: 900;
    font-size: 1.3rem;
    text-decoration: none;
}

.nav__list {
    padding: 0;
}

.nav__link {
    text-decoration: none;
    color: rgb(63, 64, 70);
    transition: all .3s;
    padding: .6rem .7rem .6rem .3rem;
    border-radius: 5px;
    width: 100%;
    display: flex;
    font-size: 1rem;
    align-items: center;
}

.nav__link:hover {
    color: #3e4dc7;
}

.nav__link:hover svg {
    stroke: #3e4dc7;
}

.nav__link.active {
    color: #3e4dc7;
}

.nav__link.active svg {
    stroke: #3e4dc7;
    background-color: #3e4ec72d;
}

.nav__item {
    margin: .3rem 0;
    width: 100%;
}

.nav__item-name {
    margin-left: .7rem;
}