.card {
  background: white;
  border: 1px solid #eaeaea;
  padding: 3rem;
  border-radius: 5px;
  text-align: left;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}

.card:hover {
  transition: box-shadow 0.2s ease;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.12);
  border: 1px solid transparent;
}
